<html>
  <body>

<tbody><tr>
<th style="width:25%;">Input type</th>
<th style="width:15%;">IE</th>
<th style="width:15%;">Firefox</th>
<th style="width:15%;">Opera</th>
<th style="width:15%;">Chrome</th>
<th style="width:15%;">Safari</th>
</tr>

<tr>
<td>autocomplete</td>
<td>8.0</td>
<td>3.5</td>
<td>9.5</td>
<td>3.0</td>
<td>4.0</td>
</tr>

<tr>
<td>autofocus</td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
<td>10.0</td>
<td>3.0</td>
<td>4.0</td>
</tr>

<tr>
<td>form</td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
<td>9.5</td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
</tr>

<tr>
<td>form overrides</td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
<td>10.5</td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
</tr>

<tr>
<td>height and width</td>
<td>8.0</td>
<td>3.5</td>
<td>9.5</td>
<td>3.0</td>
<td>4.0</td>
</tr>

<tr>
<td>list</td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
<td>9.5</td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
</tr>

<tr>
<td>min, max and step</td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
<td>9.5</td>
<td>3.0</td>
<td><span class="marked">No</span></td>
</tr>

<tr>
<td>multiple</td>
<td><span class="marked">No</span></td>
<td>3.5</td>
<td><span class="marked">No</span></td>
<td>3.0</td>
<td>4.0</td>
</tr>

<tr>
<td>novalidate</td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
</tr>

<tr>
<td>pattern</td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
<td>9.5</td>
<td>3.0</td>
<td><span class="marked">No</span></td>
</tr>

<tr>
<td>placeholder</td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
<td>3.0</td>
<td>3.0</td>
</tr>

<tr>
<td>required</td>
<td><span class="marked">No</span></td>
<td><span class="marked">No</span></td>
<td>9.5</td>
<td>3.0</td>
<td><span class="marked">No</span></td>
</tr>
</tbody>
  </body>
</html>
